* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', 'Noto Sans TC';
    color: rgb(44, 44, 44);
}

body {
    background-image: url('/image/gray-bg.jpg');
    font-family: sans-serif;
    color: black;

    position: relative;
}

#taiwan {
    width: 1000px;
    position: absolute;
    top: 60px;
    right: 100px;

    z-index: 10;
}

#taiwan-bw {
    width: 100%;
}

.mount-img {
    position: fixed;
    right: 150px;
    top: 150px;
    width: 58%;

    z-index: 20;
}

.mount-btn {
    position: fixed;
    right: 150px;
    top: 150px;

    width: 30px;
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 25px;
    transition: transform 0.3s;

    z-index: 30;
}

#main-info {
    margin-top: 150px;
    margin-left: 100px;
    position: fixed;
    z-index: 25;
}

#taiwan button {
    position: absolute;
    background-color: rgb(217, 68, 13);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    z-index: 10;
    opacity: 0.7;
    transition: transform 0.15s;
}

button:hover{
    transform: scale(1.4);
    cursor: pointer;
}

[data-id = "0"] {
    top: 620px;
    right: 340px;
}

[data-id = "1"] {
    top: 1100px;
    right: 490px;
}

[data-id = "2"] {
    top: 1430px;
    right: 640px;
}

[data-id = "3"] {
    top: 500px;
    right: 265px;
}

[data-id = "4"]{
    top: 600px;
    right: 350px;
}

[data-id = "5"] {
    top: 485px;
    right: 360px;
}

