* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

body {
    height: 100vh;
    
    background-image: url('/image/gray-bg.jpg');
    font-family: sans-serif;
    color: black;

    position: relative;
}

#taiwan {
    background-color: aqua;
    height: 150vh;
    position: absolute;
    top: 0;
    right: 10%;
}

#taiwan-bw {
    height: 150vh;
}

#main-info {
    position: fixed;
}

/*
.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
*/